@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Hardbop-Black';
  src: url('./fonts/Hardbop-Black.otf') format('opentype');
  font-weight: 900;
  font-display: block;
}
@font-face {
  font-family: "KH Teka";
  src: url("./fonts/KHTeka-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --breakpoint-3xl: 120.0625rem;
  --breakpoint-4xl: 160.0625rem;
  --font-teka: "KH Teka";
  --font-sans: 'Inter', sans-serif;
  --font-bebas: 'Bebas Neue', 'Impact', sans-serif;
}


html[data-loader="loading"],
html[data-loader="loading"] body {
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite; /* Adjusted speed for smoother infinite flow */
}


::-webkit-scrollbar {
  display: none;
}